<launch>
    <param name="robot_description" command = "$(find xacro)/xacro --inorder '$(find imu_communication)/urdf/arduino.xacro'"></param>
    <node name="imu_publisher" pkg="imu_communication" type="rviz.py" output="screen"/>
    <node name ="rviz_broadcast" pkg="imu_communication" type="imudata.py" output="screen"/>
    <!-- <node name="publisher_node" pkg="imu_communication" type="pub.py" output="screen"/> -->
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find imu_communication)/rviz/imu_rviz.rviz"/>
    <!-- <node name="rviz" type="rviz" pkg="rviz"/> -->
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" args="/imu_data/acceleration/x /imu_data/linearaccel/x"/>
    <!-- <node name="rqt_plot1" pkg="rqt_plot" type="rqt_plot" args="/imu_data/acceleration/y /imu_data/linearaccel/y"/>
    <node name="rqt_plot2" pkg="rqt_plot" type="rqt_plot" args="/imu_data/acceleration/z /imu_data/linearaccel/z"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" -d imu_communication/imu_data.h name="base_link" args="args=1 0 0 0 0 0 1 map base_link 100" /> -->
</launch>